<div id="formContainer">
    
    <form id="movieForm">
        <legend>Add Movie</legend>
        <div>
            <label for="creatMovie">Movie name:</label>
            <input type="text" id="creatMovie" name="creatMovie" required>
        
        </div>
        <div>
            <label for="createMovieUrl">Poster URL:</label>
            <input type="url" id="createMovieUrl" name="createMovieUrl" required>
        
        </div>
        <div>
            <label for="createMovieDirector">Select director:</label>
            <select id="createMovieDirector" name="createMovieDirector">
                <option value="" disabled selected></option>
                <% for(let i=0;i< people.length; i++){ %>
                    <option value="<%= people[i].id %>"><%= people[i].name %></option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="createMovieActor">Select actors:</label>
            <select id="createMovieActor" name="createMovieActor">
                <option value="" disabled selected></option>
                <% for(let i=0;i< people.length; i++){ %>
                    <option value="<%= people[i].id %>"><%= people[i].name %></option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="createMovieGenre">Select genres:</label>
            <select id="createMovieGenre" name="createMovieGenre">
                <option value="" disabled selected></option>
                <% for(let i=0;i< genres.length; i++){ %>
                    <option value="<%= genres[i].id %>"><%= genres[i].name %></option>
                <% } %>
            </select>
        </div>
        <button type="submit">Submit Movie</button>
        <button onclick="closeCreateMovie()" type="button">Cancel</button>

        
    </form>
</div>