<div id="formContainer">
    
    <form method="POST" action="/movies/update" id="movieForm">
        <legend>Add Movie</legend>
        <div>
            <label for="createMovie">Movie name:</label>
            <input type="text" id="createMovie" name="createMovie" 
            value="<%= movie.moviename %>" required>
        
        </div>
        <div>
            <label for="createMovieUrl">Poster URL:</label>
            <input type="url" id="createMovieUrl" name="createMovieUrl" 
            value="<%= movie.url %>" required>
        
        </div>
        <div>
            <label for="createMovieYear">Year:</label>
            <input type="number" id="createMovieYear" name="createMovieYear" 
            value="<%= movie.year %>" required>
        
        </div>
        <div>
            <input type="hidden" id="createMovieID" name="createMovieID" 
            value="<%= movie.id %>" required>
        
        </div>
        <div>
            <label for="createMovieDirector">Select director:</label>
            <select onchange="addDirector(this.value)" id="createMovieDirector" 
            name="createMovieDirector" data-people="<%= JSON.stringify(people) %>">
                <option value="" disabled selected></option>
                <% for(let i=0;i< people.length; i++){ %>
                    <option value="<%= people[i].id %>"><%= people[i].name %></option>
                <% } %>
            </select>
            <div id="selectedDirector">
                <% for(let i=0;i< movie.directors.length; i++){ %>
                <div>
                    <div>
                        <div style="display: inline-block;"><%= movie.directors[i].dname %></div>
                        <button onclick="this.closest('div').parentNode.remove()">X</button>
                    </div>
                    <input type="hidden" value="<%= movie.directors[i].did %>" 
                    name="movieDirector[]">
                </div>
                <% } %>

            </div>
        </div>
        <div>
            <label for="createMovieActor">Select actors:</label>
            <select id="createMovieActor" name="createMovieActor"
              onchange="addActor(this.value)" data-people="<%= JSON.stringify(people) %>">
                <option value="" disabled selected></option>
                <% for(let i=0;i< people.length; i++){ %>
                    <option value="<%= people[i].id %>"><%= people[i].name %></option>
                <% } %>
            </select>
            <div id="selectedActor">
                <% for(let i=0;i< movie.actors.length; i++){ %>
                    <div>
                        <div>
                            <div style="display: inline-block;">
                                <%= movie.actors[i].aname %>
                            </div>
                            <button onclick="this.closest('div').parentNode.remove()">X</button>
                        </div>
                        <input type="hidden" 
                        value="<%= movie.actors[i].aid %>" name="movieActor[]">
                    </div>
                <% } %>

            </div>
        </div>
        <div>
            <label for="createMovieGenre">Select genres:</label>
            <select id="createMovieGenre" name="createMovieGenre"
              onchange="addGenre(this.value)" data-genre="<%= JSON.stringify(genres) %>">
                <option value="" disabled selected></option>
                <% for(let i=0;i< genres.length; i++){ %>
                    <option value="<%= genres[i].id %>"><%= genres[i].name %></option>
                <% } %>
            </select>
            <div id="selectedGenre">
               <% for(let i=0;i< movie.genres.length; i++){ %>
                    <div>
                        <div>
                            <div style="display: inline-block;">
                                <%= movie.genres[i].gname %>
                            </div>
                            <button onclick="this.closest('div').parentNode.remove()">X</button>
                        </div>
                        <input type="hidden" 
                        value="<%= movie.genres[i].gid %>" name="movieGenre[]">
                    </div>
                <% } %>


            </div>

        </div>
        <div>
            <label for="createMoviePass">Password:</label>
            <input type="text" id="createMoviePass" name="createMoviePass" required>
        
        </div>
        <button type="submit">Update Movie</button>
        <button onclick="closeCreateMovie()" type="button">Cancel</button>

        
    </form>
</div>