<div id="genreFormContainer">
    
    <form method="POST" action="/genres/update" id="genreForm">
        <legend>Edit Genre</legend>
        <div>
            <label for="createGenre">Genre name:</label>
            <input type="text" id="createGenre" name="createGenre" 
            value="<%= movies.genrename %>" required>
        
        </div>
        <div>
            <input type="hidden" id="createGenreID" name="createGenreID" 
            value="<%= movies.id %>" required>
        
        </div>
        <div>
            <label for="createGenreMovie">Select movies:</label>
            <select onchange="addMovieToGenre(this.value)" id="createGenreMovie" 
            name="createGenreMovie" data-movie="<%= JSON.stringify(allMovies) %>">
                <option value="" disabled selected></option>
                <% for(let i=0;i< allMovies.length; i++){ %>
                    <option value="<%= allMovies[i].id %>">
                        <%= allMovies[i].name + "(" + allMovies[i].release_year + ")" %>
                    </option>
                <% } %>
            </select>
            <div id="selectedGenreMovie">
                <% for(let i=0;i< movies.genremovies.length; i++){ %>
                    <div>
                        <div>
                            <div style="display: inline-block;">
                                <%= movies.genremovies[i].movie_name %>
                            </div>
                            <button onclick="this.closest('div').parentNode.remove()">X</button>
                        </div>
                        <input type="hidden" value="<%= movies.genremovies[i].movie_id %>" 
                        name="genreMovie[]">
                    </div>
                    <% } %>
            </div>
        </div>
        <div>
            <label for="createGenrePass">Password:</label>
            <input type="text" id="createGenrePass" name="createGenrePass" required>
        
        </div>
         <div class="buttonHolder">
            <button type="submit"   class="submitButton">Submit Genre</button>
            <button onclick="closeCreateGenre()" type="button"  class="cancelForm">Cancel</button>
         </div>



        
    </form>
</div>