<div id="personFormContainer">
    
    <form method="POST" action="/actors/update" id="personForm">
        <legend>Edit Person</legend>
        <div>
            <label for="createPerson">Person name:</label>
            <input type="text" id="createPerson" value="<%= movies.actorname %>"
            name="createPerson" required>
        
        </div>
        <div>
            <label for="createPersonUrl">Person image URL:</label>
            <input type="url" id="createPersonUrl" value="<%= movies.actorurl %>" 
            name="createPersonUrl" required>
        
        </div>
        <div>
            <label for="createActorMovie">Acted in:</label>
            <select onchange="addMovieToActor(this.value)" id="createActorMovie" 
            name="createActorMovie" data-movie="<%= JSON.stringify(allMovies) %>">
                <option value="" disabled selected></option>
                <% for(let i=0;i< allMovies.length; i++){ %>
                    <option value="<%= allMovies[i].id %>">
                        <%= allMovies[i].name + "(" + allMovies[i].release_year + ")" %>
                    </option>
                <% } %>
            </select>
            <div id="selectedActorMovie">
                <% for(let i=0;i< movies.actormovies.length; i++){ %>
                    <div>
                        <div>
                            <div style="display: inline-block;">
                                <%= movies.actormovies[i].movie_name %>
                            </div>
                            <button onclick="this.closest('div').parentNode.remove()">X</button>
                        </div>
                        <input type="hidden" value="<%= movies.actormovies[i].movies_id %>" 
                        name="actorMovie[]">
                    </div>
                    <% } %>
            </div>
        </div>
        <div>
            <label for="createDirectorMovie">Directed:</label>
            <select onchange="addMovieToDirector(this.value)" id="createDirectorMovie" 
            name="createDirectorMovie" data-movie="<%= JSON.stringify(allMovies) %>">
                <option value="" disabled selected></option>
                <% for(let i=0;i< allMovies.length; i++){ %>
                    <option value="<%= allMovies[i].id %>">
                        <%= allMovies[i].name + "(" + allMovies[i].release_year + ")" %>
                    </option>
                <% } %>
            </select>
            <div id="selectedDirectorMovie">
                <% for(let i=0;i< movies.directormovies.length; i++){ %>
                    <div>
                        <div>
                            <div style="display: inline-block;">
                                <%= movies.directormovies[i].movie_name %>
                            </div>
                            <button onclick="this.closest('div').parentNode.remove()">X</button>
                        </div>
                        <input type="hidden" value="<%= movies.directormovies[i].movies_id %>" 
                        name="directorMovie[]">
                    </div>
                    <% } %>
            </div>
        </div>
 
        <button type="submit">Update Person</button>
        <button onclick="closeCreatePerson()" type="button">Cancel</button>

        
    </form>
</div>