<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="headerContainer">
        <div class="heading">
            <h1>MovieDB</h1>
        </div>
        <div class="subHeader">
            <a href="/">Movies</a>
            <a href="/genres">Genres</a>
            <a href="/actors">Crew</a>
    
        </div>
    </div>
    <div><%= movies.genrename %></div>
    <div>Movies in this genre: </div>
    <div style="display: flex; justify-content: space-evenly;flex-wrap: wrap;">
        <% for(let i=0;i< movies.genremovies.length; i++){ %>
            <div style="width: 210px;text-align: center;">
                <img style="max-height: 200px;" src=<%= movies.genremovies[i].movie_url %>>
                <div>
                    <a href="/movies/<%= movies.genremovies[i].movie_id %>">
                        <%= movies.genremovies[i].movie_name %>
                    </a> 

                </div>
            </div>
            
            <!-- <%= i< movies.genremovies.length-1?",":"" %> -->
        <% } %>    
        
    </div>
    <div>
        <button type="button" onclick="displayGenreForm()">Edit genre</button>

        <button onclick="displayDeleteMovie()">Delete genre</button>
    </div>
    <%- include("editGenre",{movies:movies,allMovies:allMovies}) %>
    <%- include("deleteVerify",{id:movies.id,type:'genres'}) %>


    
    
    
</body>
</html>