<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts.js" defer></script>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="headerContainer">
        <div class="heading">
            <h1>MovieDB</h1>
        </div>
        <div class="subHeader">
            <a href="/">Movies</a>
            <a href="/genres">Genres</a>
            <a href="/actors">Crew</a>
    
        </div>
    </div>
    <div class="movieTitle" style="text-align: center;"><%= movies.genrename %></div>
    <div style="text-align: center;">Movies in this genre: </div>
    <div style="display: flex; justify-content: space-evenly;flex-wrap: wrap;">
        <% for(let i=0;i< movies.genremovies.length; i++){ %>
            <div>
                <a class="movieLinks" href="/movies/<%= movies.genremovies[i].movie_id %>">
                    <div class="movieContainer" style="width: 100px;text-align: center;">
                        <img src=<%= movies.genremovies[i].movie_url %>>
                        <div style="min-height: 50px;">

                            <%= movies.genremovies[i].movie_name %>
                        </div>

                    </div>
                </a>
            </div>            
            <!-- <%= i< movies.genremovies.length-1?",":"" %> -->
        <% } %>    
        
    </div>
    <div  class="buttonHolder">
        <button class="addMovieButton" type="button" onclick="displayGenreForm()">Edit genre</button>

        <button class="addMovieButton" onclick="displayDeleteMovie()">Delete genre</button>
    </div>
    <%- include("editGenre",{movies:movies,allMovies:allMovies}) %>
    <%- include("deleteVerify",{id:movies.id,type:'genres'}) %>


    
    
    
</body>
</html>