<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div><%= movie.moviename %></div>
    <div>Release Year: <%= movie.year %></div>
    <div>Directed by: 
        <% for(let i=0;i< movie.directors.length; i++){ %>
            <a href="/actors/<%= movie.directors[i].did %>">
                <%= movie.directors[i].dname %>
            </a> 
            <%= i< movie.directors.length-1?",":"" %>
        <% } %>    
    </div>
    <div>Starring: 
        <% for(let i=0;i< movie.actors.length; i++){ %>
            <a href="/actors/<%= movie.actors[i].aid %>">
                <%= movie.actors[i].aname %>
            </a> <%= i< movie.actors.length-1?",":"" %>
        <% } %>    
    </div>
    <div>Genres: 
        <% for(let i=0;i< movie.genres.length; i++){ %>
            <a href="/genres/<%= movie.genres[i].gid %>"><%= movie.genres[i].gname %></a> <%= i< movie.genres.length-1?",":"" %>
        <% } %>    
    </div>
    
</body>
</html>