<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/scripts.js" defer></script>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <div class="headerContainer">
        <div class="heading">
            <h1>MovieDB</h1>
        </div>
        <div class="subHeader">
            <a href="/">Movies</a>
            <a href="/genres">Genres</a>
            <a href="/actors">Crew</a>
    
        </div>
    </div>
    <img style="max-height: 200px;" src=<%= movie.url %>>
    <div><%= movie.moviename %></div>
    <div>Release Year: <%= movie.year %></div>
    <div>Directed by: 
        <div style="display: flex;justify-content: flex-start; flex-wrap: wrap;">
            <% for(let i=0;i< movie.directors.length; i++){ %>

                <div>
                    <a class="movieLinks" href="/actors/<%= movie.directors[i].did %>">
                        <div class="movieContainer" style="width: 100px;text-align: center;">
                            <img src=<%= movie.directors[i].durl %>>
                            <div style="min-height: 50px;">

                                <%= movie.directors[i].dname %>
                            </div>

                        </div>
                    </a>
                </div>


            <% } %>    
        </div>


    </div>
    <div>Starring: 
        <div style="display: flex;justify-content: flex-start; flex-wrap: wrap;">
            <% for(let i=0;i< movie.actors.length; i++){ %>

                <div>
                    <a class="movieLinks" href="/actors/<%= movie.actors[i].aid %>">
                        <div class="movieContainer" style="width: 100px;text-align: center;">
                            <img src=<%= movie.actors[i].aurl %>>
                            <div style="min-height: 50px;">

                                <%= movie.actors[i].aname %>
                            </div>

                        </div>
                    </a>
                </div>
    
            <% } %>  

        </div>
  
    </div>
    <div>Genres: 
        <% for(let i=0;i< movie.genres.length; i++){ %>
            <div>
                <a class="movieLinks" href="/genres/<%= movie.genres[i].gid %>">
                    <div class="movieContainer" style="width: 100px;text-align: center;">
                        <div style="min-height: 50px;">

                            <%= movie.genres[i].gname %>
                        </div>

                    </div>
                </a>
            </div>           
        <% } %>    
    </div>
    <div>
        <button type="button" onclick="displayForm()">Edit movie</button>
        <button onclick="displayDeleteMovie()">Delete movie</button>
    </div>
    <%- include("editMovie",{movie:movie,people:people,genres:genres}) %>
    <%- include("deleteVerify",{id:movie.id,type:'movies'}) %>

    
</body>
</html>